<%- include partials/header.ejs %>
<!DOCTYPE html>
 <div class="container">
        <div class="row product-list dev">
            <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="forum_create"><img src="../public/images/camp2.jpeg"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h2><a href="forum_create">Camping in frankrijk</a></h2>
                        </div>
                        <div class="col-4"><a class="small-text" href="forum_create">vergelijk </a></div>
                    </div>
                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a class="small-text" href="#">82 reviews</a></div>
                    <div class="row">
                        <div class="col-12">
                            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                            <div class="row">
                                <div class="col-6"><button class="btn btn-light" href="forum_create" type="button">Reserveer NU!</button></div>
                                <div class="col-6">
                                    <p class="product-price">$599.00 p.p</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 product-item animation-element slide-rotate-clockwise">
                            <div class="product-container">
                                <div class="row">
                                    <div class="col-md-12"><a class="product-image" href="forum_create"><img src="../public/images/camp1.jpeg"></a></div>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <h2><a href="#">Camping in Italie</a></h2>
                                    </div>
                                    <div class="col-4"><a class="small-text" href="#">vergelijk </a></div>
                                </div>
                                <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a class="small-text" href="#">82 reviews</a></div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                        <div class="row">
                                            <div class="col-6"><button href="forum_create" class="btn btn-light" type="button">Reserveer NU!</button></div>
                                            <div class="col-6">
                                                <p class="product-price">$600.00 p.p</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 product-item animation-element slide-top-right">
                            <div class="product-container">
                                <div class="row">
                                    <div class="col-md-12"><a class="product-image" href="forum_create"><img src="../public/images/camp2.jpeg"></a></div>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <h2><a href="#">Camping in Belgie</a></h2>
                                    </div>
                                    <div class="col-4"><a class="small-text" href="forum_create">compare </a></div>
                                </div>
                                <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a class="small-text" href="#">82 reviews</a></div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                        <div class="row">
                                            <div class="col-6"><button  class="btn btn-light" type="button">Reserveer NU!</button></div>
                                            <div class="col-6">
                                                <p class="product-price">$300.00 p.p</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
