<nav>
        <div id="head" style="display: inline-block;">
        </div>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <a href="/medewerkers">Medewerker home</a>
        <a href="/forum">Resevering</a>
        <a href="/forum_create">Creeer een resevering</a>
        <a href="/logout">Logout</a>
        <hr>
    </nav>